<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955445795420-lps9u7i1bevmcgaa0fhibbe7gm72ml5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955445795420-lps9u7i1bevmcgaa0fhibbe7gm72ml5v</string>
	<key>API_KEY</key>
	<string>AIzaSyBAjKEg-WaKZ1fwcb_iBFzc3TgV7Xgx9ZE</string>
	<key>GCM_SENDER_ID</key>
	<string>955445795420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.selca</string>
	<key>PROJECT_ID</key>
	<string>selca-authorisation</string>
	<key>STORAGE_BUCKET</key>
	<string>selca-authorisation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955445795420:ios:a0594c5091355cb5576499</string>
</dict>
</plist>